body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
    
}
.orange-color{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width>p{
    padding-top: 20px;
    font-size: 16px;
}
.half-width>img{
    width: 90%;
    padding-left: 20px;
}
.hire-button{
    background-image: linear-gradient(rgb(40, 202, 243),rgb(166, 240, 240));
    padding:10px 60px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color:rgb(7, 7, 7);
    margin: 0px 200px;
    border:2px solid rgb(255, 7, 7);
    border-image: linear-gradient(red,black);
    border-radius: 50px;
    box-shadow: 5px 5px 40px rgb(209, 207, 207);
}
hr{
   margin-top: 35px;
    margin-bottom: 100px;
    width: 80%;
    height: 2px;
    background-image: linear-gradient(rgb(255, 145, 0),rgba(62, 233, 10, 0.938));
    display: block;
}
/*secodn section Style here */
.second-section{
    display: flex;
    margin: 40px auto;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-half-width{
    width: 50%;
    
}
h2{
    font-size: 40px;
}
.second-half-width>p{
    text-align: justify;
    padding-right: 20px;
    margin-bottom: 100px;
}
.second-half-width>img{
    width: 80%;
    padding-left: 15px;
}
.blue-color{
    color: rgb(26, 224, 214);
}
.resume-button{
    background-image: linear-gradient(rgb(40, 202, 243),rgb(166, 240, 240));
    padding:10px 60px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color:rgb(7, 7, 7);
    
    border:2px solid rgb(255, 7, 7);
    border-image: linear-gradient(red,black);
    border-radius: 50px;
    box-shadow: 5px 5px 40px r
}